* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1, h2, h3, h4 {
    font-family: 'Cardo', serif;
    font-weight: 700;
}

body, p, a, input, button, textarea {
    font-family: 'Cardo', serif;
    font-weight: 400;
}